<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rievoluzione.revyou">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">


        <activity android:name=".activities.Main" />
        <activity android:name=".activities.SondaggioActivity">

        </activity>
        <activity android:name=".activities.PianiTerifeActivity" />

        <activity android:name=".activities.OrarioNotificheActivity" />
        <activity android:name=".activities.BoardingActivity" />
        <activity android:name=".activities.MainActivity" />
        <activity android:name=".activities.AnnulamenoActivity" >

        </activity>
        <activity android:name=".activities.PrimaActivity"></activity>
        <activity android:name=".dialogs.DialogAcced" />

        <activity android:name="com.rievoluzione.revyou.activities.AperturaActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.AbbonamentoActivity" />
        <activity android:name=".activities.SuggerimentiActivity" />
        <activity android:name=".activities.ArgomentiActivity" />
        <activity android:name=".activities.UpgradeActivity" />
        <activity android:name=".activities.ArticoloApertoActivity" />
        <activity android:name=".activities.InfoCredibilitaActivity" />
        <activity android:name=".activities.InfoPraticitaActivity" />
        <activity android:name=".activities.ValutazionedArticoliActivity" />
        <activity android:name=".activities.AuthActivity" />
        <activity android:name=".activities.IntroduzioneActivity" />
        <activity android:name=".activities.RinnovoActivity" />
        <activity android:name=".activities.RevyouersActivity" />
    </application>

</manifest>